@keyframes anm1{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: #0FC65C 0px 0px 20px 0px;
    }
    100%{
        box-shadow: none;
    }
}

.online-icon{
    animation: anm1 2s  infinite;
}

/* .bg-gradient-text{
    width: 100%;
    height: 100%;
     background: rgb(255,154,61); 
    background: linear-gradient(270deg, rgba(255,154,61,1) 15%, rgba(254,103,131,1) 100%);
}  */


.bg-gradient-text span{
    background: linear-gradient(270deg, rgba(255,154,61,1) 15%, rgba(254,103,131,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


